<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.ohgita.bincalc_android"
    android:versionCode="1"
    android:versionName="1.0.0 beta" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="11" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="info.ohgita.android.bincalc.Activity_main"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.ohgita.android.bincalc.Activity_appInfo"
            android:label="@string/activity_about_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="info.ohgita.android.bincalc.Activity_preference"
            android:label="@string/activity_pref_name"
            android:screenOrientation="portrait"
            android:theme="@style/Preference.PreferenceScreen" >
        </activity>
    </application>

</manifest>